<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="https://i.imgur.com/ugkp7xw.png" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">
            MercadoShop Mateo Baena Chavarriaga
        </a>
</nav>